@using JavaFlorist.Models.Domain;
@using Microsoft.AspNetCore.Identity;
@model List<JavaFlorist.Models.Domain.Wishlist>
@inject UserManager<ApplicationUser> UserManager;
@{
	int? id = 0;
	string username = User.Identity.Name;
	if (!string.IsNullOrEmpty(username))
	{
		var user = await UserManager.FindByNameAsync(username);
		if (user != null)
			id = user.cust_id;

	}
    ViewBag.Title = "Wishlist";
}

<div class="hero-wrap hero-bread" style="background-image: url('/BG/9.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Wishlist</span></p>
				<h1 class="mb-0 bread">My Wishlist</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp</th>
								<th>Thumnail</th>
								<th>Name</th>
								<th>Price</th>
								<th>&nbsp</th>
							</tr>
						</thead>
						<tbody>
					
							@foreach(var wishlist  in Model)
							{

								<tr class="text-center">
									<td class="product-remove"><a href="/Wishlist/Delete?id=@wishlist.wishlist_id"><span class="ion-ios-close"></span></a></td>

									<td class="image-prod"><div class="img" style="background-image:url(/Uploads/@wishlist.Bouquet_Info.bouquetImage);"></div></td>

									<td class="product-name">
										<h3>@wishlist.Bouquet_Info.name</h3>
										<p>@wishlist.Bouquet_Info.description</p>
									</td>

									<td class="price">@wishlist.Bouquet_Info.price</td>

									<td class="quantity">
										<a href="/Cart/AddToCart?bouquetId=@wishlist.bouquet_id&cust_id=@id" class="btn btn-info">Add To Cart</a>
									</td>


								</tr>
							
								<!-- END TR-->
							}
							


						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>