@model JavaFlorist.Models.Domain.Discount;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdLayout.cshtml";
}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body mt-3">
                <h5 class="card-title fw-semibold mb-4 mt-5">Add Discount</h5>
                <div class="card mt-5">
                    <div class="card-body">
                        <form class="w-40" method="post" asp-action="Add"  style="background-color:#ffffff;border-radius:5px;padding:24px" enctype="multipart/form-data">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <label class="form-label" asp-for="code">Code</label>
                                        <input type="text" placeholder="Please Enter Code !" asp-for="code" name="code"class="form-control" style="border: 1px solid #e8e8e8;" required />
                                    </div>
                                    <div class="message-box pd-x-28 error">
                                        <span asp-validation-for="code"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <label class="form-label" asp-for="descrease">Decrease</label>
                                        <input type="number" asp-for="descrease" placeholder="Please Enter Descrease !" name="decrease" class="form-control" style="border: 1px solid #e8e8e8;" required />
                                    </div>
                                    <div class="message-box pd-x-28 error">
                                        <span asp-validation-for="descrease"> </span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <label class="form-label" asp-for="count">Count</label>
                                        <input type="number" class="form-control" placeholder="Please Enter Count !" name="count" asp-for="count" required />
                                    </div>
                                    <div class="message-box pd-x-28 error">
                                        <span asp-validation-for="count"></span>
                                    </div>
                                </div>
                            </div>
                           
                            @if (TempData["msg"] != null)
                            {
                                <div class="alert alert-danger mt-3" role="alert">
                                    @TempData["msg"]
                                </div>
                            }
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-danger btn-block mt-4 mb-6">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

