@model JavaFlorist.Models.Domain.Contact;
@{
    ViewBag.Title = "Contact";
    ViewBag.Index = 5;

}

<div class="hero-wrap hero-bread" style="background-image: url('/BG/5.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Contact us</span></p>
                <h1 class="mb-0 bread">Contact us</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Address:</span> 1 Đ. Lý Tự Trọng, An Phú, Ninh Kiều, Cần Thơ</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Phone:</span> <a href="tel://0787998410">+84 787998410</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Email:</span> <a href="mailto:pmkhoaa22086@cusc.ctu.vn">JavaFlorist@gmai.com</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Website</span> <a href="#">Javaflorist.com</a></p>
                </div>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form method="post" asp-action="Contact" class="bg-white p-5 contact-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" asp-for="name" class="form-control" placeholder="Your Name">
                        <div class="message-box pd-x-28 error" style="color:red;">
                            <span asp-validation-for="name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="email" class=" form-control" placeholder="Your Email">
                        <div class="message-box pd-x-28 error" style="color:red;">
                            <span asp-validation-for="email"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="subject" class=" form-control" placeholder="Subject">
                        <div class="message-box pd-x-28 error" style="color:red;">
                            <span asp-validation-for="subject"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" asp-for="message" name="message" class="form-control" placeholder="Message"></textarea>
                        <div class="message-box pd-x-28 error" style="color:red;">
                            <span asp-validation-for="message"></span>
                        </div>
                    </div>
                    @if (TempData["msg"] != null)
                    {
                        <div class="alert alert-success mt-3" role="alert">
                            @TempData["msg"]
                        </div>
                    }
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

                

            </div>

            <div class="col-md-6 d-flex">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4672.155711546814!2d105.77753248752056!3d10.033439799668438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0881f9a732075%3A0xfa43fbeb2b00ca73!2sCUSC%20-%20Cantho%20University%20Software%20Center!5e0!3m2!1svi!2s!4v1702892945580!5m2!1svi!2s" width="600" height="560" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
