@model JavaFlorist.Models.Domain.Cart;
@{
	ViewBag.Title = "Cart";
	int id = 0;
}


<div class="hero-wrap hero-bread" style="background-image: url('/BG/2.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="#">Home</a></span> <span>Cart</span></p>
				<h1 class="mb-0 bread">My Cart</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							@if (Model.Items.Count > 0)
							{
								@foreach (var item in Model.Items)
								{
									<tr class="text-center">
										<td class="product-remove"><a href="/Cart/RemoveFromCart?bouquetId=@item.Bouquet.bouquet_id&cust_id=@item.cust_id"><span class="ion-ios-close"></span></a></td>

										<td class="image-prod"><div class="img" style="background-image:url(/Uploads/@item.Bouquet.bouquetImage);"></div></td>

										<td class="product-name">
											<h3>@item.Bouquet.name</h3>
											<p>@item.Bouquet.description</p>
											
											
										</td>
										@{
											 id = item.cust_id;
										}
										<td class="price" id="price_@item.Bouquet.bouquet_id" >$@item.Bouquet.price</td>

										<td class="quantity">
											<div class="input-group mb-3">
												<input type="number" name="quantity" id="quantity_@item.Bouquet.bouquet_id" class="quantity form-control input-number" value="@item.Quantity" min="1" max="100">
											</div>
										</td>

										<td id="total_@item.Bouquet.bouquet_id" class="total">$@(item.Bouquet.price * item.Quantity)</td>
									</tr>
								}
							}
							else
							{
								<tr class="text-center">
									<td colspan="6"><h3 class="text-danger">The shopping cart is empty => <a href="/Shop/Shop" class="btn btn-danger">go to Shop</a></h3></td>
									
								</tr>
								
							}


					
						</tbody>
					</table>
					@if(Model.Items.Count > 0){
						<a href="/Cart/ClearCart?cust_id=@id" class="btn btn-warning mx-5 mb-5">Clear</a>

					}
				
				</div>
			</div>
		</div>
		@if (Model.Items.Count > 0)
		{
			<div class="row justify-content-end">
				<div class="col-lg-6 mt-5 cart-wrap ftco-animate">
					<form asp-action="Apply" asp-controller="Discount" class="info">
						<div class="cart-total mb-3">
							<h3>Coupon Code</h3>
							<p>Enter your coupon code if you have one</p>
							<div class="form-group">
								<label for="">Coupon code</label>
								<input type="text" name="code" class="form-control text-left px-3" placeholder="">
							</div>
							<div class="alert alert-success"  role="alert">
								<p id="mess"></p>
							</div>
						</div>
						<p><button type="submit" class="btn btn-primary py-3 px-4">Apply Coupon</button></p>
					</form>
				</div>
				<div class="col-lg-6 mt-5 cart-wrap ftco-animate">
					<div class="cart-total mb-3">
						<h3>Cart Totals</h3>
						<p class="d-flex">
							<span>Subtotal</span>
							<span id="subtotal">$0.00</span>
						</p>
						<p class="d-flex">
							<span>Discount</span>
							<span id="discount">$0.00</span>
						</p>
						<hr>
						<p class="d-flex total-price">
							<span>Total</span>
							<span id="total">$0.00</span>
						</p>
					</div>
					<p><a href="/Cart/Checkout?cust_id=@id" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
				</div>
			</div>
		}
	</div>
</section>