@using JavaFlorist.Models.Domain;
@using Microsoft.AspNetCore.Identity;
@model JavaFlorist.Models.Domain.Order;
@inject UserManager<ApplicationUser> UserManager
@{
	string username = User.Identity.Name;
	var user = await UserManager.FindByNameAsync(username);
	int? id = 0;
	id = user?.cust_id;
    ViewBag.Title = "Checkout"; 
}

<div class="hero-wrap hero-bread" style="background-image: url('/BG/3.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
				<h1 class="mb-0 bread">Checkout</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>Thunnail</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							@if (Model.cart.Items.Count > 0)
							{
								@foreach (var item in Model.cart.Items)
								{
									<tr class="text-center">

										<td class="image-prod"><div class="img" style="background-image:url(/Uploads/@item.Bouquet.bouquetImage);"></div></td>

										<td class="product-name">
											<h3>@item.Bouquet.name</h3>
											<p>Far far away, behind the word mountains, far from the countries</p>
											<p>@item.SubTotal</p>

										</td>
										@{
											id = item.cust_id;
										}
										<td class="price" id="price_@item.Bouquet.bouquet_id">$@item.Bouquet.price</td>

										<td class="quantity">
											@item.Quantity
										</td>

										<td id="total_@item.Bouquet.bouquet_id" class="total">$@(item.Bouquet.price * item.Quantity)</td>
									</tr>
								}
							}
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
  <form asp-action="Checkout" asp-controller="Cart"  method="post" enctype="multipart/form-data" class="billing-form">
		<div class="row justify-content-center">
			<div class="col-xl-7 ftco-animate">
					<input type="hidden" asp-for="cust_id"  value="@id" class="form-control">
					<input type="hidden" asp-for="discount_id"  id="discount_idInput" class="form-control">
					<input type="hidden" asp-for="Cart.Items" class="form-control">
					<input type="hidden" asp-for="Total" id="totalInput" class="form-control">
				
					<h3 class="mb-4 billing-heading">Billing Details</h3>
					<div class="row align-items-end">
						<div class="col-md-6">
							<div class="form-group">
								<label>Name</label>
								<input type="text" asp-for="Delivery_Info.Name"  class="form-control" placeholder="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="phone">Phone</label>
								<input type="text" asp-for="Delivery_Info.Phone" class="form-control" placeholder="">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="country">Occasion</label>
								<div class="select-wrap">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<select asp-for="Occasion.Occasion_name" class="form-control">
										<option value="Birthday">Birthday</option>
										<option value="Wedding">Wedding</option>
										<option value="New Baby">New Baby</option>
										<option value="Thank You">Thank You</option>
										<option value="Father Day">Father Day</option>
										<option value="Mother Day">Mother Day</option>
										<option value="Lover">Lover</option>
									</select>
								</div>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="country">Occasion</label>
								<textarea class="form-control" asp-for="Occasion.message" rows="3"></textarea>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="lastname">Address</label>
								<input type="text" asp-for="Delivery_Info.Address" class="form-control" placeholder="">
							</div>
						</div>
				
					</div>
			</div>
			<div class="col-xl-5">
				<div class="row mt-5 pt-3">
					<div class="col-md-12 d-flex mb-5">
						<div class="cart-detail cart-total p-3 p-md-4">
							<h3 class="billing-heading mb-4">Cart Total</h3>
								<p class="d-flex">
									<span>Subtotal</span>
									<span id="subtotal">$0.00</span>
								</p>
								<p class="d-flex">
									<span>Delivery</span>
									<span id="delivery">$0.00</span>
								</p>
								<p class="d-flex">
									<span>Discount</span>
									<span id="discount">$0.00</span>
								</p>
								<hr>
								<p class="d-flex total-price">
									<span>Total</span>
									<span id="total">$0.00</span>
									
								</p>
						</div>
					</div>
					<div class="col-md-12">
						<div class="cart-detail p-3 p-md-4">
							<h3 class="billing-heading mb-4">Payment Method</h3>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
										<label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
										<label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
										<label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="checkbox">
										<label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
									</div>
								</div>
							</div>
							<p><input type="submit" class="btn btn-primary py-3 px-4">Place an order</p>
						</div>
					</div>
				</div>
			</div> <!-- .col-md-8 -->
				</form><!-- END -->

		</div>
	</div>
</section> 